.obsidian/*
.tmp_pdf*
inbox/*
!inbox/.gitkeep

jobs/*
!jobs/.gitkeep

applied/*
!applied/.gitkeep

trash/*
!trash/.gitkeep

coverletters/*
!coverletters/.gitkeep

resumes/*
!resumes/.gitkeep

*image*
